
.text-h1-medium {
    /* font-family: Nunito; */
    font-size: 39.06px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-h2-medium {
    /* font-family: Nunito; */
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-base1-medium {
    /* font-family: Nunito; */
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-base2-medium {
    /* font-family: Nunito; */
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}