.navbar-padding {
  margin-top: 65px;
}

.navbar {
  border-bottom: 2px solid var(--border-main);
  background-color: var(--main-color)!important;
}

.navbar-elements {
  margin: 0;
  justify-content: space-between;
  max-width: 100%;
  gap: 10vw;
}

.navbar-logo {
  cursor: pointer;
}

.navbar-logo:hover {
  color: var(--text-white);
}


.navbar__item {
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

#basic-nav-dropdown {
  color: unset;
}

.navbar__login {
  display: flex;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
}

.navbar__login:hover {
  color: var(--text-white);
}