
.moderator_applications_feed {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moderator_applications_feed__filters {
  margin: 1rem;
}

.moderator_applications_feed__date_filter {
  height: 38px;
}